[submodule "proto/opentelemetry"]
	path = proto/opentelemetry
	url = https://github.com/deepflowio/opentelemetry-proto.git
[submodule "src/collectors/ebpf/legacy/libs/jattach"]
	path = src/collectors/ebpf/legacy/libs/jattach
	url = https://github.com/deepflowio/jattach.git
	ignore = dirty
[submodule "proto"]
	path = proto
	url = ../zerotrace-message.git
